# Example: Enable debug logging and increase resources
#
# Usage:
#   kubectl apply -k deploy/overlays/debug-mode
#
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

patches:
  - target:
      kind: Job
      name: rhdh-must-gather
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/env/2/value
        value: "DEBUG"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: "1Gi"
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: "1"

