name: PR Unit Tests

on:
  pull_request:
    paths:
      - 'collection-scripts/**'
      - 'tests/**'
      - 'Makefile'
      - '.github/workflows/unit-tests.yaml'
    branches: [main]

permissions:
  checks: write
  contents: read

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y jq yq

      - name: Run unit tests
        run: make test

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: ${{ (success() || failure()) }}
        with:
          report_paths: '**/test-results/*.xml'
          annotate_only: ${{ github.event.pull_request.head.repo.full_name != github.repository }} # forked repo cannot write to checks so just do annotations
